<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>View Description</title>
</head>

<body style="background-color: antiquewhite;">

<div class="container">

  <h3>Description</h3>
  <hr>

  <p class="h4 mb-4" th:text="${book_title}"></p>

  <!-- Add the description for specified book -->
  <p th:text="${book_description.getDescription()}" style="background-color: white; padding: 10px"></p>

  <!-- Display the book cover
  <img src="https://covers.openlibrary.org/b/olid/OL7440033M-L.jpg"style="width: 5vw; min-width: 330px;" alt="Cover image">
  -->

  <hr>
  <a th:href="@{/books/home}">Back to Book Catalog</a>

</div>

</body>

</html>