<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Add/View Notes</title>
</head>

<body>

<div class="container">

    <h3>Note Directory</h3>
    <hr>

    <p class="h4 mb-4">Update Note</p>

    <form action="#" th:action="@{/books/save}" th:object="${book}" method="POST">
        <!-- Add hidden form field to handle the update -->
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{title}">
        <input type="hidden" th:field="*{author}">
        <input type="hidden" th:field="*{page}">


        <input type="text" th:field="*{note}" class="form-control mb-4 w-25" th:value="*{note}">

        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>

    <hr>
    <a th:href="@{/books/home}">Back to Book Catalog</a>

</div>

</body>

</html>